.nav
    &__links
        display flex
        align-items center
        justify-content space-evenly
        flex-wrap wrap
        margin 0
        padding 0
    &__link
        list-style none
        font-size 1.75rem
        a
            color persian-green